<div class="jumbotron center">
	<h1>Bienvenido a Episteme Arjé</h1>
	<p>
		<%=link_to "Iniciar Sesión", "#", class:"btn btn-primary btn-lg" %>
		<%=link_to "Regístrate", signup_path, class:"btn btn-primary btn-lg" %>

	</p>
</div>
