<div class="jumbotron center">
	<h1>Bienvenido a Epistemarje</h1>
	<p>
		<%=link_to "Iniciar Sesión", "#", class:"btn btn-primary btn-lg" %>
		<%=link_to "Regístrate", "#", class:"btn btn-primary btn-lg" %>
	</p>
</div>
