// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/*Style Sigup*/
@CHARSET "UTF-8";

* {
	-webkit-box-sizing: border-box;
	   -moz-box-sizing: border-box;
	        box-sizing: border-box;
	outline: none;
}






@media screen and (min-width:1200px)
{

/*---------------_header------------------------------*/


/*---------------home---------------------------------*/
.buscinicio{
	width:400px;
}

/* --------------login--------------------------------*/
body
{
    background: url('http://farm3.staticflickr.com/2832/12303719364_c25cecdc28_b.jpg') fixed;
    background-size: cover;
    padding: 0;
    margin: 0;
}

.lmargin{
	width:360px;
	margin:auto;
	border:3px solid #2980b9;
	padding:15px;
	border-radius:8px;
	background:white;
	opacity:0.9;
}

.lwuser{
	background:RGB(255,217,102);
	text-align:center;
	color:orange;
	border:2px solid black;
	border-radius:4px;
	height:50px;

}

.lwuser div{
	margin:auto;
	margin-top:-10px;
}
  .lwelcome{
  	font-family:'Permanent Marker';
  }


/* --------------signup-------------------------------*/
.welcomeuser{

	float:left;
	width: 670px;
	height:630px;
	background-size: 700px 630px;
	border-radius:8px;
	margin:0px 10px 10px 10px;
	}
.wmargin{
	margin:19%;
	border: 1px solid #2980b9;
	border-radius:10px;
	opacity:0.95;
	background:#2980b9;
	padding:3px;
}
.wmargin h2{
	opacity:1.0;
}
.signup{
	float:left;
	max-width:440px;
	border: 1px solid #2980b9 !important;
	border-radius:8px;
	padding-top:15px;
	background:#2980b9;}
.titulosignup h2{
	font-size:4em;
	font-family:Lobster;
}
.titulosignup p{
	text-align:center;
	margin-top:-1.3em;
	font-family:Indie+Flower;
}
.prhase{
	opacity:0.8;
	border: 1px solid;
	width:400px;
	padding:10px;
	font-size:1.5em;
	border-radius:10px;
	background:white;
	text-align:center;}
.Rsignup h2 {
	font-family:Pacifico;
}
.login-form {
	max-width: 390px;
	radius: 2px;
	align:center;
	margin:10px;
	position:static;
	}
.login-form .panel {
	border: 1px solid #e4e4e4 !important;
	border-radius: 5px !important;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px; }
	.login-form .panel a {
		color: #00aeef;
	}
	.login-form .panel .panel-body {
		padding: 18px 40px 30px 40px !important;
	}
	.login-form .panel .panel-footer {
		line-height: 2em;
		padding: 30px 40px 30px 40px !important;
		background: #f6f6f6 !important;
		color: #606060 !important;
	}
form[role=login] {
	font: 16px/2.6em Lato, serif;
	color: #909090; }	
	form[role=login] h2 {
		font-size: 34px;
		color: #000;
		margin-bottom: 1em; }
	form[role=login] input,
	form[role=login] select,
	form[role=login] button { font-size: 16px;}
	form[role=login] input.form-control,
	form[role=login] select { height: 2.2em;}
	form[role=login] select {
		padding: 8px 12px;
		height: 40px; }
		form[role=login] input::-webkit-input-placeholder {
			color: #bbb;
		}
		form[role=login] input:-moz-placeholder {
			color: #bbb;
		}
		form[role=login] input::-moz-placeholder {
			color: #bbb;
		}
		form[role=login] input:-ms-input-placeholder {  
			color: #bbb;
		}
	form[role=login] button { font-size: 16px; }


};

@media screen and (min-width:900px){
	
}

@media screen and (min-width:768px){
	
}

@media screen and (min-width:600px){
	
}

@media screen and (min-width:480px){
	
}

@media screen and (min-width:320px){
	
}
